header {
    background-image: url(../Ressources/Mochis-background.png);
    height: 100vh;
    background-position: center;
    background-size: cover;

        h1 {
            text-align: center;
            margin-top: 20%;
    }
}

h1 {
    text-transform: uppercase;
    font-family: 'Righteous', cursive;
    font-size: 100px;
    font-weight: 900;
    color: rgb(24, 201, 233);
    border-radius: 15px;
}
