body {

    
/*------ SECTION 1 - HISTOIRE ------*/

.histoire {
    background-color: pink;
    padding-top: 2%;
    padding-bottom: 2%;

        h3, p {
            text-align: center;
            margin-top: 15%;
        }
            .mochi-story {
            max-width: 70%;
            height: auto;
            border-radius: 15px;
        }

        h3 {
            font-family: 'Righteous', cursive;
            font-weight: 400;
            text-transform: uppercase;
            color: rgb(13, 109, 173);
        }

        p {
            font-family: 'Be Vietnam Pro', sans-serif;
            font-size: small;
            font-weight: 300;
        }
    }
}

/*------ SECTION 2 - RECETTE SIGNATURE ------*/

.signature {
    text-align: center;
    background-image: linear-gradient(rgba(226, 188, 195, 0.842),rgba(211, 144, 159, 0.836)),url(../Ressources/Mochi-signature.jpg);
    height: 50vh;
    background-position: center;
    background-size: cover;                                  

        h3, p {
            text-align: center;
            padding-top: 5vh;
        }

        h3 {
            font-family: 'Righteous', cursive;
            font-weight: 400;
            text-transform: uppercase;
            color: rgb(13, 109, 173);
        }

        p {
            font-family: 'Be Vietnam Pro', sans-serif;
            font-size: small;
            font-weight: 300;
    }
}

/*------ SECTION 3 - MENU ------*/

.menu {
    margin: 20px 0;

        h2, h4 {
            text-align: center;
            padding-top: 5%;
    }
}

h2 {
    color: rgb(13, 109, 173);
    padding-bottom: 5%;
}

p {
    text-align: center;
}

.prix {
    font-weight: 900;
    text-align: right;
    color: red;
}

/*------ SECTION 4 - PHOTOS ------*/

    .carousel-inner {
        height: 100%;

        .carousel-item {
            height: 100%;
        }
    }

    .carousel-item img {
        height: 100%;
    }

/*------ SECTION - BARRE DE DECOUPE ------*/

h2:after {
display: block;
    height: 2px;
    background-color: rgb(24, 201, 233);
    width: 100px;
    content: "";
    margin: 0 auto;
    margin-top: 10px;
}

h3:after {
    display: block;
        height: 2px;
        background-color: rgb(24, 201, 233);
        width: 100px;
        content: "";
        margin: 0 auto;
        margin-top: 10px;
    }

/*------ SECTION 4 - CONTACT ------*/

.contact {
    background-color: pink;
    padding-top: 2%;
    padding-bottom: 2%;

        ul {
            list-style-type: none;
        }

        .restaurant {
            text-align: center;
        }
}